__pycache__/
*.py[cod]
*.pyo
*.pyd

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.txt

venv/
env/
.venv/

.vscode/
.idea/
.claude/

uploads/*

nn/dataset/toy/*
nn/dataset/benchmark/*
nn/models/*.pth
nn/models/*.pt

build/bin
frontend/node_modules
frontend/dist
