__pycache__/
*.py[cod]
*.pyo
*.pyd

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.txt

venv/
env/
.venv/

.vscode/
.idea/
.claude/

uploads/*

core/dataset/toy/*
core/dataset/benchmark/*
core/models/*.pth
core/models/*.pt
core/models/*.onnx

build/bin
frontend/node_modules
frontend/dist
frontend/public
