.div-pagination
    display: flex
    flex-direction: row
    justify-content: flex-end
    width: 100%
    height: 30px
    

    .div-pagination-core
        display: flex
        flex-direction: row
        width: auto
        height: 30px
        img
            width: 10px
            height: 10px

        span
            height: 30px
            line-height: 30px
            font-size: 14px
            color: #333333

        .pagination-icon
            height: 100%
            margin-left: 10px
            cursor: pointer
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

        .pagination-icon:first-child
            margin-right: 10px

        .pagination-num
            width: auto
            min-width: 20px
            height: 30px
            color: #202020
            font-size: 12px
            font-weight: 800
            text-align: center
            border-radius: 6px
            padding: 0 4px
            cursor: pointer

        .pagination-num-selected
            color: #c53048
            font-weight: 800

        .pagination-etc
            width: 30px
            height: 30px
            color: #333333
            font-weight: 800
            text-align: center

        .pagination-word
            font-size: 12px
            margin: 0 5px 0 5px
            color: #202020

        input
            width: 20px
            height: 20px
            color: #292929
            // background-color: $transcript-bg
            font-size: 12px
            text-align: center
            border: 1px solid #DDDFE6
            border-radius: 4px
            margin-top: 2px

        input:focus
            outline: none